.container {
  transition: height 0.3s ease-in-out, margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
  height: auto;
}
.cancelling {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0 !important;
}
.container.uncategorized {
  
}